
body{
	background-image: url("../images/background.png.jpeg")
}
div{
	background-color: white;
	margin: 10px;
}
div{
	border: solid 2px antiquewhite;
	padding: 10px;
}
h1, h3, span{
	font-weight: bold;
	text-align: center;
}
h1{
	font-size: 30pt;
}
ol{
	list-style: decimal inside; 
}
ul {
	list-style: disc inside;
	text-indent: 20px;
}

div.container{
	background-color: blue;
	width:100%;
}
div.header{
	background-color: #e0e0eb;
	padding:30px;
	margin-left:60px;
	margin-top:20px;
	background-image: url("../images/background.png.jpeg")
}
div.gems{
	background-color: #e0e0eb;
	background-image: url("../images/background.png.jpeg")
}
div.header, div.instructions{
	width: 50%;
	background-image: url("../images/background.png.jpeg")
}

.numberToMatch, .winsAndLosses{
	float: left;
	width: 15%;
	height: 60px;
	background-image: url("../images/background.png.jpeg")
}
.userTotal{
	float:left;
	width: 15%;
	height: 60px;
	background-image: url("../images/background.png.jpeg")
}
.gems{
	clear: right;
}
.gemImage{
	height: 60px;
	margin: 10px;
}


#blue{
	color: blue;
}
#green{
	color: green;
}
#red{
	color: red;
}
#yellow{
	color: yellow;
}

